body {
    font-family: sans-serif;
    background-color: #f1f1f1;
    text-align: center;
}

h1 {
    color: #333;
}

.main-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    margin: 20px auto;
    width: fit-content;
    justify-content: center;
    position: relative;
    border: 1px solid #ccc;
    display: flex;
    flex-direction: row;
}

.weather-container {
    padding: 20px;
}

.weather-container .description-container {
    display: flex;
    justify-content: center; /* Center the contents horizontally */
    
}

.wind-gust-container {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.air-quality-container {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.visibility-container {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#checkbox-container {
  border: 1px solid #ccc;
  padding: 10px;
}

#checkbox-container label {
  display: block;
  margin-bottom: 5px;
}

.remove-button {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px;
    border: none;
    background-color: #555555;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}

#location {
    font-weight: bold;
}

#temperature {
    font-size: 24px;
}

#description {
    color: #777;
}
